:root {
    --dynamic-text-size: 2vw; 
}

body {
    padding: 0%;
    margin: 0%;
}

/* display containers */

.main {
    color: black;
    --content-container-width: 100vw;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
}

.bg-img-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(var(--content-container-width) - 50vw);
    height: 100vh;
    background: no-repeat url(./resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--content-container-width);
    height: 100vh;
}

/* img container content */

.logo-container {
    position: relative;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: black;
    color: white;
    opacity: 0.5;
}

#img-1 {
    max-height: 100px; /* less responsive because of static value*/
}

#norse-text {
    font-size: 5rem; 
    font-family: Norse, sans-serif;
}

#credit-text {
    position: relative;
    text-align: center;
}

@font-face {
    font-family: Norse;
    src: url(/resources/Norse-Bold.otf);
}

/* content container */


.text-wrap {
    max-width: 50vw;
    height: fit-content;
}

.text-content {
    font-size: var(--dynamic-text-size);
    font-weight: bold;
}

/* form content */

form {
    width: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.prompt-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#prompt-left , #prompt-right{
    height: 100%;
    border: 1px solid black;
}

#prompt-left {
    flex: 1;
}

#prompt-right {
    flex: 2;
}

.prompt-card {
    font-size: 1.4rem;
    line-height: 1.2rem;
    font-weight: bold;
}

#submitBtn {
    cursor: pointer;
    font-size: large;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 30px;
    padding: 10px 30px;
}

/* links */

a{
    text-decoration: none;
    color: #596D48;
}

/* For screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .text-content {
      font-size: 1.5rem;
    }
  }
  
  /* For screens smaller than 480px */
  @media only screen and (max-width: 480px) {
    .text-content {
      font-size: 1rem;
    }
  }